env/
*.pyc
__pycache__/
outputs/
software/
src/normalizing-flows/
plots/
tests/img
tests/sample*
tests/job*
setup.sh
setup_nosubshell.sh
bash/logs/
bash/logs_old/
bash/logs_toy/
bash/train_gunflows.sh
fds_check/
src/normalizing-flows
.vscode/
