env/
*.pyc
*.db
__pycache__/
outputs/
software/
plots/
tests/img
tests/sample*
tests/job*
fds_check/
logs/
bash/
analysis/
hparam_tuning/
demonstrator_scripts/
.vscode/
*top*

configs/dataset/*
!configs/dataset/systematic_dataset_pygundam_data_oa2022.yaml
!configs/dataset/systematic_dataset_pygundam_toy_oa2022.yaml
!configs/dataset/systematic_dataset_oa2022.yaml
!configs/dataset/systematic_dataset_100plus10_paper_fakedata.yaml
!configs/dataset/systematic_dataset_toy_llh.yaml

configs/experiment/*
!configs/experiment/oa2022_pygundam_data.yaml
!configs/experiment/oa2022_pygundam_toy.yaml
!configs/experiment/paper_fakedata_top1.yaml
!configs/experiment/toy_llh.yaml

configs/model/*
!configs/model/model_OA2022.yaml
!configs/model/model_toyOA_100p10.yaml
!configs/model/model_toy_llh.yaml

!configs/experiment/paper_fakedata_top1.yaml

src/gunflows.egg-info/
build/
