env/
*.pyc
*.db
__pycache__/
outputs/
software/
src/normalizing-flows/
plots/
tests/img
tests/sample*
tests/job*
setup.sh
setup_nosubshell.sh
bash/logs/
bash/logs_old/
bash/logs_toy/
bash/train_gunflows.sh
fds_check/
src/normalizing-flows
.vscode/
hparam_tuning/configs/
hparam_tuning/logs/
hparam_tuning/tmp_dbs/
hparam_tuning/databases/
demonstrator_scripts/